:root{
    --ckeckboxT: #CCD6A6;
    --checkbox: #a0b269;
    --body-background: #f5f7ee;
    --row-count: #d6deb8;
    --button-hover: #667739;
    --white : #fff;
    --recipt: #fbf8f8;
    --black: #000000;
    --red: #ff2323;
    --light-red: #ff5757;
}

body{
    background-color: var(--body-background);
}
.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.row{
    display: flex;
    align-items: center;
}

.row-count{
    background-color: var(--row-count);
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
    padding-bottom: 20px;
    border-radius: 21px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.title{
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.trans-store{
    display: flex;
    flex-direction: column;
}

.store{
    width: 250px;
}

.info-title{
    display: inline-block;
    width: 112px;
}

.store > .info-store{
    width: 125px;
    display: inline-flex;
    justify-content: flex-end;

}

.form{
    display: grid;
}

label{
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type=text], select, input{
    height: 20px;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
}

select{
    height: 25px;
    width: 210px;
}

.validation{
    border: 1px solid red !important;
}

.checkbox{
    margin-top: 5px;
    display: flex;
    align-items: center;
}

input[type=checkbox]{
    height: 15px;
    width: 15px;
    accent-color: var(--checkbox);
}

.button-two{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button-style{
    width: 45%;
    height: 30px;
    margin-top: 15px;
    background-color: var(--button-hover);
    border: 1px solid var(--button-hover);
    border-radius: 10px;
    color: var(--white);
}

.button-style:hover{
    background-color: var(--checkbox);
    border: 1px solid var(--button-hover);
    color: var(--black);
}

.button-cancel{
    width: 45%;
    height: 30px;
    margin-top: 15px;
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 10px;
    color: var(--white);
}

.button-cancel:hover{
    background-color: var(--light-red);
    border: 1px solid var(--red);
    color: var(--black);;

}

.displayreceipt{
    visibility: hidden;
    transition: ease-in-out;
    transition-delay: 0.2s;
}

.row-recipt{
    height: 540px;
    background: var(--recipt);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    margin-left: 20px;
}

.title-recipts{
    margin-bottom: 15px;
    font-size: 1.5rem;
    padding-top: 20px;
}

.title-description{
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.recepit-input{
    margin-top: 5px;
    width: 250px;
    display: flex;
}

.name-total{
    width: 200px;
}

hr{
    width: 100%;
    height: 1px;
    background-color: black;
    border: none;
}

#grandTotal{
    margin-bottom: 5px;
    font-size: 1.3rem;
}

#RefillCost, #TotalRrefills, #subscriptionTotal, #couponTotal, #paidTotal{
    width: 100px;
    display: flex;
    justify-content: flex-end;
}

.client-saving-style{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

#thanks{
    margin-top: 23px;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

/**********************************************************
                    PHONE VIEW
**********************************************************/
@media (min-width: 320px) and (max-width: 767px) {
    .container {
        margin-bottom: 50px;
    }

    .row {
        flex-direction: column;
    }

    .row-recipt {
        margin-top: 25px;
    }
}